@each $font-face in 'Bebas-Neue', 'Socialico'{
	@font-face {  font-family: $font-face;
				 font-style: normal;
				 font-weight: normal;
				 src:url('../font/#{$font-face}.eot');
				 src:url('../font/#{$font-face}.otf'),url('../font/#{$font-face}.ttf');}
				}

$naranja: #FF4500;
$marron:#CD853F;
$azulAcero: #4682B4;
$azulFondo: #1874CD;
$naranja2: #E96B22;
$naranja3: #cb5211;

html,body{  
	 		
			height:100%;
      margin: 0;
      padding:0;
      width: 100%;
      min-width: 900px; 
      
            }




a{  color: inherit;
    text-decoration: none;
    &:visited{
      color: inherit;}
    &:hover{
      color:inherit;
    }
}



.caligrafia {
  font-family: 'Calligraffitti',cursive;
}
.comentarioContacto
{
  float: left;
  width: 30%;
  /*Pasar a EM*/
  height: 200px;
  font-family: 'Englebert', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-top: 10%;
  padding-left: 3%;
  text-shadow:0px 0px 4px #FFF;
}
 
#contacto{
  z-index: 90;
  position: relative;

  background-image: url(../img/fondo4.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
 /* min-height: 899px;*/
  background-color:rgba(54,134,177,1.0);
  /*Probando color degradiente*/
  background: #c5deea;
  background: -moz-linear-gradient(left,  rgba(197, 222, 234, 0.6) 0%,rgba(138, 187, 215, 0.6) 31%, rgba(6, 109, 171, 0.6) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(197, 222, 234, 0.6)), color-stop(31%,rgba(138, 187, 215, 0.6)), color-stop(100%,rgba(6, 109, 171, 0.6)));
  background: -webkit-linear-gradient(left,  rgba(197, 222, 234, 0.6) 0%,rgba(138, 187, 215, 0.6) 31%,rgba(6, 109, 171, 0.6) 100%);
  background: -o-linear-gradient(left,  rgba(197, 222, 234, 0.6) 0%,rgba(138, 187, 215, 0.6) 31%,rgba(6, 109, 171, 0.6) 100%);
  background: -ms-linear-gradient(left,  rgba(197, 222, 234, 0.6) 0%,rgba(138, 187, 215, 0.6) 31%,rgba(6, 109, 171, 0.6) 100%);
  background: linear-gradient(to right,  rgba(197, 222, 234, 0.6) 0%,rgba(138, 187, 215, 0.6) 31%,rgba(6, 109, 171, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(197, 222, 234, 0.6)', endColorstr='rgba(6, 109, 171, 0.6)',GradientType=1 );

/*
  background: #d0e4f7;
  background: -moz-linear-gradient(45deg,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea));
  background: -webkit-linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
  background: -o-linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
  background: -ms-linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
  background: linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 );
  */
  /* Suspendemos imagen por el momento */ 
  /*background-image: url(../img/fondo4.jpg);*/
  background-size: 100%;

  padding-top: 5%;

  background: url(../img/backgrounds/pruebas/contacto01.jpg) no-repeat ;

  text-align: center;
  padding-top: 2em;
    .triangulo{ 
    width: 0;
    height: 0;
    opacity: 0.7; 
    border-top: 2.31em solid transparent;
    border-left: 5em solid #262626;
    border-bottom: 2.31em solid transparent;
      .palabraContacto
      {
        line-height: 4em;
        display: block;
        top:-2em;
        left:2000px;
        position: relative;
        }
    }
    .franjaDeContacto{
      width: 100%;
      height: 120px;
      background-color: rgba(255,255,255,0.4);
      text-align: left;
      font-family: 'Alegreya Sans', sans-serif;
      font-weight: bolder;
      font-size: 26px;
      color: #FBFBF5;
      overflow: hidden;
      transition:all 1.8s;
        &:hover{
          };
      .movimientoSobre{
        width: 5em;
        height: 3.5em;
        display: block;
        background: url(../img/mensaje03_editado.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        float: right;
        margin-top: 3.8em;
        margin-right: 20em;
        -webkit-transform:rotate(-45deg);
      }
    }
    #formulario{
      top: 330px;
      left: 550px;
      display: block;
      position: absolute;
      text-align: center;
      width: 550px;
      height: 460px; 
      }
}

.caja {
           border-radius: 15px;
           height: 60px;
           width: 300px;
           outline: 0;
           border: 0;
        }
.comentarioContacto
{
  float: left;
  width: 30%;
  height: 200px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-top: 10%;
  padding-left: 3%;
  text-shadow:0px 0px 4px #FFF;
}

  
#continuar-a-portfolio{       
                    
                    position: absolute;
                    left:45%;
                    bottom: 5%;
                    color: white;
                    background-color: rgba(255,255,255,0.2);
                    padding: 10px 20px;                
                    border: 3px solid white;
                    border-radius: 20px;
                    font-weight: bold;
                    z-index: 5;
                    -webkit-transition: background-color 1s ease; 
                    transition: background-color 1s ease;
                       
                    &:hover{
                       -webkit-transition: background-color 1s ease; 
                      transition: background-color 1s ease;
                      background-color: rgba(255,255,255,0);
                      
                    }
                       }

.copyright{
text-align: center;
margin-top: -9px;
font-family: 'Alegreya Sans', sans-serif;
  span{
    font-family:sans-serif;
  }
}

.enviarComentario{
  width: 250px;
}

footer{
  font-family: 'Alegreya Sans', sans-serif;
  height: 185px;
  width: 100%;
  z-index: 10;
  position:absolute;
  background: url(../img/backgrounds/footer/footer02.jpg) no-repeat;
  background-size: 100%;
  background-color: #FFF;
  overflow: hidden;
  color:#6E6E6E;
  text-align: center;
  font-size: 18px;
 
    li{  display: inline-block;
        text-align: center;
        list-style: none;
        padding-left: 15px;
    }

  nav{
    ul{
      li{  display: inline-block;
        text-align: center;
        list-style: none;
        padding-left: 15px;
      }
    }
  }
}
.FB{
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  line-height: 2px;
  transition:all 0.6s;
    &:hover{
      color:#08298A;
    }
   } 
.formTA{
  width: 510px;
  height: 185px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.formInput{
  
           margin-top: 15px;
           margin-right: 5px;
           border-radius: 15px;
           height: 35px;
           width: 230px;
           outline: 0;
           border: 6px solid rgba(0,0,0,0.5);
}
.fullScreen{
   width: 100%;
   height: 100%;
   

}

.fullScreen2{
   width: 100%;
   height: 100%;
   min-height: 800px;

}

.screen80{
  width: 100%;
  height: 80%;
  min-height: 640px;
}
.Gplus{
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition:all 0.6s;
    &:hover{
      color:#FE2E2E;
    }
  }
header {
  
  
  width: 100%;
  position:fixed;
  z-index: 100000000000000000000;
  background-color: $azulAcero;
  text-align: center;
  min-width: 900px; 
  
  border-radius: 0em 0em 2em 2em;

   nav ul {
   			
   			li{
   			color: #F7F7F7;
				padding: 0 10px;
				font-weight: bold;
				display: inline-block;
				cursor: pointer;
				border-radius: 10px;
       -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
				transition: all 0.2s linear;

      		&:hover{
      			color:#000;
      			font-size: 2em;
      		 -webkit-transition: all 0.2s linear;
      			transition: all 0.2s linear;
             -moz-transition: all 0.2s linear;		

   			}

  		}

   }
}
.IN{
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition:all 0.6s;
    &:hover{
      color:#0489B1;
    }
}

#fondo{
  position: fixed;
  overflow: hidden;
  z-index:0;
  background-image: url(../img/fondoBsAs.jpg);
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  min-height: 600px;
  min-width: 900px; 
  

     

}

#inicio{
 
  position: relative;
  z-index: 1;
 min-height: 600px;

    #cajaNegra{ position: absolute;
                width: 379px;
                min-width: 100px;
                margin: 0 auto;
                left:0;
                right: 0;
                background-color: rgba(0,0,0,0.59);
                height: 100%;
                -webkit-transition: all 2s linear;
                -moz-transition: all 2s linear;
                transition:all 2s linear;
                
                    #mensaje{ 
                     position:relative;
                     display: block;
                     height: 100%;
                     font-family: 'Quantico', sans-serif;
                     line-height:1.2em;
                     font-size: 24px;
                     text-align: center;
                     color: white;
                     cursor: pointer;

                     

               
                  #frase1{  position: absolute; 
                            left: 0;
                            right: 0;
                            text-align: center;
                            top:25%;
                            opacity: 0;
                            transition:all 2s linear;
                             -webkit-transition: all 2s linear;
                             -moz-transition:all 2s linear;
                            }    



                  #frase2{position: absolute;
                          left: 0;
                          right: 0;
                          text-align: center;
                          bottom: 10%;
                          height: 25%;
                          opacity: 0;
                          transition:all 2s linear;
                          -webkit-transition: all 2s linear;
                           -moz-transition:all 2s linear;
                           
                          

                  }    


                  #frase3{  
                            position: absolute;
                            margin: 0 auto;
                            left: 0;
                            right: 0;
                            height: 20%;
                            min-height: 100px;
                            width: auto;
                            top: 43%;
                            opacity: 0;
                            transition:all 2s linear;
                              -webkit-transition: all 2s linear;
                              -moz-transition:all 2s linear; }
                     

             


       /*       #frase1{margin-top: 60%;
                      margin-bottom: 0;
                      
                      
                      opacity: 1;
                      transition:all 2s linear;}
              #frase2{
                      
                      margin: 0;
                      opacity: 1;
                      transition:all 2s linear;} 
              #frase3{
                      
                      
                      opacity: 1;
                      transition:all 2s linear;} 


                  img{margin-bottom: 80px;
                      margin-top: 80px;
                      width: 70%;
                      min-width: 100px;
                      top:30%;
                      height: auto;
                    
                    } */
    }
              }

#boxContinuar{
        position: absolute;
        display: inline-block;
        width: 100%;
        background-color: $azulAcero;
        bottom: 0;
        height: 10%;
        border-bottom: 3px solid white;
        text-align: center;

                      
          .continuar{       
                   

                    position: relative;
                   /* left:45%;
                    top: 20%;
                    left: 45%;*/
                    top: 34%;
                  
                    background-color: rgba(255,255,255,0.2);
                    padding: 10px 20px;                
                    border: 3px solid white;
                    border-radius: 20px;
                    font-weight: bold;
                    color: white;
                    transition:all 1s ease;
                      -webkit-transition: all 1s ease;   
                      -moz-transition:all 1s ease;
                    &:hover{
                     -webkit-transition: all 1s ease; 
                      transition:all 1s ease; 
                      -moz-transition:all 1s ease; 
                      background-color: rgba(255,255,255,0);
                    }
                       }

          }
}

.logo {   font-family: 'Seymour One', sans-serif;
          color: white;
          font-size: 50px;
          position:absolute;
          z-index: 5;
          padding: 50px;
          background-color: red;
          border-radius: 45%;
          text-align: center;
          margin: 0 auto;
          top:10%;
          left: 10%;
          letter-spacing: -5px;
}

.navegacionFooter{
    padding-top: 0px;
  margin-top: -6px;
  margin-left: -3em;

  nav{
    ul{
      li{
        transition:all 0.4s;
        &:hover{
          text-shadow:0px 0px 1.3px #F5F6CE;
          -webkit-transform:rotate(-9deg);
          transform:rotate(-9deg);
          -ms-transform:rotate(-9deg);
      }
    }
  }
}
}

#portfolio{
  position: relative;
  z-index:1;
  /*min-height: 899px;*/
  /*background-color: rgb(161,70,103);*/
 /* background-image: url('../img/volteada.jpg');
  background-size: 100% 100%;*/
   background:url(../img/volteada3.jpg) no-repeat center;
  border-top: 3px solid white; 
 /* background-image: url('../img/fondoNaranja.jpg');
  background-size: 100% 100%;*/
    
  #cajablanca{
        position: absolute;
        width: 95%;
        top:10%;
        margin-left: 5%;
        background-color: rgba(255,255 , 255,0.2);
       
        .flecha {
        position: absolute;
        top: 0;
        right: 0;
        width: 0; 
        height: 0; 
        border-top: 40px solid transparent;
        border-bottom: 30px solid transparent;
  
        border-left: 70px solid rgba(253,57 , 8, 1);
}

    h2{
       
        color: white;
        font-family: 'Quantico', sans-serif;
        font-size: 50px;
        
         } 

        
}
   *{
    margin: 0;
    padding: 0;
      } 

  .acordeon{
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    /*1263 899*/
    width: 764px;
    height: 320px;
   
    
    overflow: hidden;
  /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
 -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);*/
  }

  .acordeon ul li {
    position: relative;
    display: block;
   width: 190px;
   
    float: left;
   
      
    /* atributos para mejorar el look*/
  border-left: 1px solid #888;
   box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

      /*Transiciones */
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;

      a{ width: 20px;

        img{

           width:640px;
           height: 320px;
           
            display: block;
          }
      }
  }

    /*Estilo de las imagenes */
    
    .tituloImagen{
      background: rgba(255, 255, 255, 0.5);  
      position: absolute;
      left:0;
      bottom: 0;
      width: 680px;
      min-width: 340px;        
    }  

    .tituloImagen a{
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 20px;
    }
          img{
            
           
          }
     

       /*Reduccion de los elementos no hovereados*/
    .acordeon ul:hover li {width: 40px;}
        /* Efectos hover */
   .acordeon ul li:hover{
    width: 640px;}  
    
   }  
.textoResponsive{
font-family: 'Londrina Outline', cursive;
}

#quienesSomos{
  position: relative;
  z-index:1;
  background-color: #20B2AA;
  width: 100%;
  /*min-height: 899px;*/


  .slider_container{
  position: relative;
  overflow: hidden;
  top:11%;  
  width: 100%;
  min-height: 60px;
  height: 12%;
  left: 0px;
  z-index: 50;
  background-color: rgba(255,255,255,0.5);
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  
  .slideContainer{
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
    


    .slide{
      height: 100%;
      display: inline-block;
      background-color: #9370DB;
      
      margin-right: -4px;

      background-size: 100%;
      background-position: bottom;

     
      

        p{  
            
            color: white;          
            font-family: 'Quantico',cursive;
            text-align: center;
            width: auto;
            font-size: 50px;
             margin: 0;
             height: 100%;
          
         
               
            }
    }
    
  }
  
}

/*#boxContinuar{
        position: absolute;
        display: inline-block;
        width: 100%;
        background-color: $azulAcero;
        top: 0;
        height: 10%;
        border-bottom: 3px solid white;
        text-align: center;

                      
          .continuar{       
                   

                    position: relative;
                   /* left:45%;
                    top: 20%;
                    left: 45%;--
                    top: 28%;
                  
                    background-color: rgba(255,255,255,0.2);
                    padding: 10px 20px;                
                    border: 3px solid white;
                    border-radius: 20px;
                    font-weight: bold;
                    color: white;
                    transition: background-color 1s ease;
                    transition: top 1s ease;   
                    &:hover{
                      transition: background-color 1s ease;
                      background-color: rgba(255,255,255,0);
                    }
                       }

          }*/

      
            
           #quienSomos{
            position: absolute;
            top:0%;
            width: 100%;
            height: 150px;
           
      
          }

          #presentacionAbajo{
               
                position: relative;
                
                top: 15%;
                left: 50%;
                height: 135px;
                width: 50%;
                
                font-family: 'Quantico', sans-serif;
                font-size: 30px;
                color: white;
              }

          #presentacion{
                position:relative;

                height: 33%;
                width: 50%;
                top:7%;
                margin-left: 7%;
                font-family: 'Quantico', sans-serif;
                
                color: white;
                
                

                p{
                  position: static;
                 /* min-height: 168px;*/
                }
          }

          
          img{
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
          }
        
          h2{
            margin: 0;
           
           
          }

           p{
            
            position: relative;
            width: 80%;
            
            font-family: 'Alegreya Sans', sans-serif;
            
            text-align: justify;
            }

    
   
    
     
      
}


.socialFooter{
 display: inline-block;
  margin-top: -5px;
  padding-top: 0px;
  line-height: 4.1em;
}
.sombreado {
  -webkit-box-shadow: 13px 17px 55px -3px rgba(0,0,0,0.75);
          box-shadow: 13px 17px 55px -3px rgba(0,0,0,0.75);
} 



#tecnologias{
  position: relative;
  background-color: #cb5211;
  z-index: 10;
  height: 100%;
  min-height: 899px;
  background:url(../img/backgrounds/img09_2.jpg) no-repeat center;
.tecnologias{
  box-shadow: 0px 0px 15px #000; 
  z-index: 2000;
  width: 100%;
  height: inherit;
  text-align: center;

    .box1{
    margin-top: 10%;

    position: relative;
    display: inline-block;
    width:24%;
    height: 9.345em;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
      .cuadrado1{
        position: relative;
        display: inline-block;
        width:100%;
        height: 9.345em;
        background-color: black;
        background-size: 100%, cover;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s;
          .texto{
            position: absolute;
            text-transform: uppercase;
            background-color: black;
            color: white;
            top: 100%;
            left: 0; 
            width: 100%;
            font-size: 50px; 
          text-align: center;
          -webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
          z-index: 1
          }
        } 
      &:hover .cuadrado1{
        -webkit-transform: rotateX(80deg);
        -webkit-transform-origin: bottom;
          }
      .cuadrado1:after{
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0; 
        width: 100%;
        height: 36px;
        background: inherit; 
        background-size: cover, cover;
        background-position: bottom;
        -webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
        }
    .cuadrado1:before {
      content: ''; 
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
      transition: all 0.5s; 
      opacity: 0.15;
      -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
      -webkit-transform-origin: bottom;
        }
    &:hover .cuadrado1:before {
      opacity: 1;
      box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
      -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
  }   

/*  -----------2------------   */

  .box2{
    margin-top: 0.3em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    position: relative;
    display: inline-block;
    width:24%;
    height: 9.345em;
    -webkit-perspective: 1000px;
      .cuadrado2{
        position: relative;
        display: inline-block;
        width:100%;
        height: 9.345em;
        background-color: black;
        background-size: 100%, cover;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s;
          .texto{
            position: absolute;
            text-transform: uppercase;
            background-color: black;
            color: white;
            text-shadow:0px 0px 1px #000;
            top: 100%;
            left: 0; 
            width: 100%;
            font-size: 50px; 
          text-align: center;
          -webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
          z-index: 1
          }
        } 
      &:hover .cuadrado2{
        -webkit-transform: rotateX(80deg);
        -webkit-transform-origin: bottom;
          }
      .cuadrado2:after{
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0; 
        width: 100%;
        height: 36px;
        background: inherit; 
        background-size: cover, cover;
        background-position: bottom;
        -webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
        }
    .cuadrado2:before {
      content: ''; 
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
      transition: all 0.5s; 
      opacity: 0.15;
      -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
      -webkit-transform-origin: bottom;
        }
    &:hover .cuadrado1:before {
      opacity: 1;
      box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
      -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
  }   
  /********EL 9*************/
   .boxExtra{
    margin-top: 0.3em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    position: relative;
    display: inline-block;
    width:24%;
    height: 9.345em;
    -webkit-perspective: 1000px;
      .cuadradoExtra{
        position: relative;
        display: inline-block;
        width:100%;
        height: 9.345em;
        background-color: black;
        background-size: 100%, cover;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s;
          .textoResponsive{
            position: absolute;
            text-transform: uppercase;
            background-color: black;
            color: white;
            text-shadow:0px 0px 1px #000;
            top: 100%;
            left: 0; 
            width: 100%;
            font-size: 37px; 
          text-align: center;
          -webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
          z-index: 1
          }
        } 
      &:hover .cuadradoExtra{
        -webkit-transform: rotateX(80deg);
        -webkit-transform-origin: bottom;
          }
      .cuadradoExtra:after{
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0; 
        width: 100%;
        height: 36px;
        background: inherit; 
        background-size: cover, cover;
        background-position: bottom;
        -webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
        }
    .cuadradoExtra:before {
      content: ''; 
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
      transition: all 0.5s; 
      opacity: 0.15;
      -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
      -webkit-transform-origin: bottom;
        }
    &:hover .cuadradoExtra:before {
      opacity: 1;
      box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
      -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
  }   
/*  ---------3--------------   */

  .box3{
    margin-top: 0.3em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    position: relative;
    display: inline-block;
    width:24%;
    height: 9.345em;
    -webkit-perspective: 1000px;
      .cuadrado3{
        position: relative;
        display: inline-block;
        width:100%;
        height: 9.345em;
        background-color: black;
        background-size: 100%, cover;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s;
          .texto{
            position: absolute;
            text-transform: uppercase;
            background-color: black;
            color: white;
            text-shadow:0px 0px 1px #000;
            top: 100%;
            left: 0; 
            width: 100%;
            font-size: 50px; 
          text-align: center;
          -webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
          z-index: 1
          }
        } 
      &:hover .cuadrado3{
        -webkit-transform: rotateX(80deg);
        -webkit-transform-origin: bottom;
          }
      .cuadrado3:after{
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0; 
        width: 100%;
        height: 36px;
        background: inherit; 
        background-size: cover, cover;
        background-position: bottom;
        -webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
        }
    .cuadrado3:before {
      content: ''; 
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
      transition: all 0.5s; 
      opacity: 0.15;
      -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
      -webkit-transform-origin: bottom;
        }
    &:hover .cuadrado3:before {
      opacity: 1;
      box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
      -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
  }   

/*  ---------4--------------   */

  .box4{
    margin-top: 0.3em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    position: relative;
    display: inline-block;
    width:24%;
    height: 9.345em;
    margin-top: 100px;
    -webkit-perspective: 1000px;
      .cuadrado4{
        position: relative;
        display: inline-block;
        width:100%;
        height: 9.345em;
        background-color: black;
        background-size: 100%, cover;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s;
          .texto{
            position: absolute;
            text-transform: uppercase;
            background-color: black;
            color: white;
            text-shadow:0px 0px 1px #000;
            top: 100%;
            left: 0; 
            width: 100%;
            font-size: 50px; 
          text-align: center;
          -webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
          z-index: 1
          }
        } 
      &:hover .cuadrado4{
        -webkit-transform: rotateX(80deg);
        -webkit-transform-origin: bottom;
          }
      .cuadrado4:after{
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0; 
        width: 100%;
        height: 36px;
        background: inherit; 
        background-size: cover, cover;
        background-position: bottom;
        -webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
        }
    .cuadrado4:before {
      content: ''; 
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
      transition: all 0.5s; 
      opacity: 0.15;
      -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
      -webkit-transform-origin: bottom;
        }
    &:hover .cuadrado4:before {
      opacity: 1;
      box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
      -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
  }   

/*  ---------5--------------   */

  .box5{
    margin-top: 0.3em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    position: relative;
    display: inline-block;
    width:24%;
    height: 9.345em;
    margin-top: 100px;
    -webkit-perspective: 1000px;
      .cuadrado5{
        position: relative;
        display: inline-block;
        width:100%;
        height: 9.345em;
        background-color: black;
        background-size: 100%, cover;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s;
          .texto{
            position: absolute;
            text-transform: uppercase;
            background-color: black;
            color: white;
            text-shadow:0px 0px 1px #000;
            top: 100%;
            left: 0; 
            width: 100%;
            font-size: 50px; 
          text-align: center;
          -webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
          z-index: 1
          }
        } 
      &:hover .cuadrado5{
        -webkit-transform: rotateX(80deg);
        -webkit-transform-origin: bottom;
          }
      .cuadrado5:after{
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0; 
        width: 100%;
        height: 36px;
        background: inherit; 
        background-size: cover, cover;
        background-position: bottom;
        -webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
        }
    .cuadrado5:before {
      content: ''; 
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
      transition: all 0.5s; 
      opacity: 0.15;
      -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
      -webkit-transform-origin: bottom;
        }
    &:hover .cuadrado5:before {
      opacity: 1;
      box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
      -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
  }   

/*  ---------6-------------   */

  .box6{
    margin-top: 0.3em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    position: relative;
    display: inline-block;
    width:24%;
    height: 9.345em;
    margin-top: 100px;
    -webkit-perspective: 1000px;
      .cuadrado6{
        position: relative;
        display: inline-block;
        width:100%;
        height: 150px;
        background-color: black;
        //overflow: hidden;
        //background: url(img/html5.png) center no-repeat ;
        background-size: 100%, cover;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s;
          .texto{
            position: absolute;
            text-transform: uppercase;
            background-color: black;
            color: white;
            text-shadow:0px 0px 1px #000;
            top: 100%;
            left: 0; 
            width: 100%;
            font-size: 50px; 
          text-align: center;
          -webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
          z-index: 1
          }
        } 
      &:hover .cuadrado6{
        -webkit-transform: rotateX(80deg);
        -webkit-transform-origin: bottom;
          }
      .cuadrado6:after{
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0; 
        width: 100%;
        height: 36px;
        background: inherit; 
        background-size: cover, cover;
        background-position: bottom;
        -webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
        }
    .cuadrado6:before {
      content: ''; 
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
      transition: all 0.5s; 
      opacity: 0.15;
      -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
      -webkit-transform-origin: bottom;
        }
    &:hover .cuadrado6:before {
      opacity: 1;
      box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
      -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
  }   

/*  ------------7-----------   */

  .box7{
    margin-top: 0.3em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    position: relative;
    display: inline-block;
    width:24%;
    height: 9.345em;
    margin-top: 100px;
    -webkit-perspective: 1000px;
      .cuadrado7{
        position: relative;
        display: inline-block;
        width:100%;
        height: 9.345em;
        background-color: black;
        background-size: 100%, cover;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s;
          .texto{
            position: absolute;
            text-transform: uppercase;
            background-color: black;
            color: white;
            text-shadow:0px 0px 1px #000;
            top: 100%;
            left: 0; 
            width: 100%;
            font-size: 50px; 
          text-align: center;
          -webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
          z-index: 1
          }
        } 
      &:hover .cuadrado7{
        -webkit-transform: rotateX(80deg);
        -webkit-transform-origin: bottom;
          }
      .cuadrado7:after{
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0; 
        width: 100%;
        height: 36px;
        background: inherit; 
        background-size: cover, cover;
        background-position: bottom;
        -webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
        }
    .cuadrado7:before {
      content: ''; 
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
      transition: all 0.5s; 
      opacity: 0.15;
      -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
      -webkit-transform-origin: bottom;
        }
    &:hover .cuadrado7:before {
      opacity: 1;
      box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
      -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
  }   

/*  ---------8--------------   */

  .box8{
    margin-top: 0.3em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    position: relative;
    display: inline-block;
    width:24%;
    height: 9.345em;
    margin-top: 100px;
    -webkit-perspective: 1000px;
      .cuadrado8{
        position: relative;
        display: inline-block;
        width:100%;
        height: 9.345em;
        background-color: black;
        background-size: 100%, cover;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s;
          .texto{
            position: absolute;
            text-transform: uppercase;
            background-color: black;
            color: white;
            text-shadow:0px 0px 1px #000;
            top: 100%;
            left: 0; 
            width: 100%;
            font-size: 50px; 
          text-align: center;
          -webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
          z-index: 1
          }
        } 
      &:hover .cuadrado8{
        -webkit-transform: rotateX(80deg);
        -webkit-transform-origin: bottom;
          }
      .cuadrado8:after{
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0; 
        width: 100%;
        height: 36px;
        background: inherit; 
        background-size: cover, cover;
        background-position: bottom;
        -webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
        }
    .cuadrado8:before {
      content: ''; 
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
      transition: all 0.5s; 
      opacity: 0.15;
      -webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
      -webkit-transform-origin: bottom;
        }
    &:hover .cuadrado8:before {
      opacity: 1;
      box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
      -webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
  }
  
/* ---------9----------------- */
      .box9{
            margin-top: 100px;
        margin-left: 0.7em;
        margin-right: 0.7em;
      position: relative;
      display: inline-block;
      width:24%;
      height: 150px;
      background-color: blue;
      overflow: hidden;
      }
      .cuadrado9{
      position: relative;
      display: inline-block;
      width:100%;
      height: 150px;
      background-color: black;
      overflow: hidden;
          .texto{
            color: white;
            text-shadow:0px 0px 1px #000;
            margin-top: 170px;
            background: #b5bdc8;
            background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b));
            background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
            background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
            background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
            background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
            opacity: 0.5;
            width: 500px;
            height: 20px;
            font-size: 19px;
            left: -200px;
          }
      } 
}

.tecno{
  text-align: center;
  position: absolute;  
  color: white;
  overflow: hidden;
  font-family: 'Nova Square', cursive;
  line-height: 100px;
}

.html5{
  background: url(../img/html5.png) center no-repeat ;
  background-size: 100%;
}

.css3{
  background: url(../img/css3.png) center no-repeat ;
  background-size: 100%;
}

.php{
  background: url(../img/php.png) center no-repeat ;
  background-size: 100%;
}

.js{
  background: url(../img/javascript.png) center no-repeat ;
  background-size: 100%;
}

.jquery{
  background: url(../img/jquery.png) center no-repeat ;
  background-size: 100%;
}

.mysql{
  background: url(../img/Mysql.png) center no-repeat ;
  background-size: 100%;
}

.net{
  background: url(../img/visualstudio.png) center no-repeat ;
  background-size: 100%;
}

.java{
  background: url(../img/java.png) center no-repeat ;
  background-size: 100%;
}
.responsive{
  background: url(../img/responsive.png) center no-repeat;
  //background-size: 100%;
}


.texto{
font-family: 'Londrina Outline', cursive;
}
}

/* ::::::::::::::::::::::::; FIN TECNOLOGIAS :::::::::::::::::::::::*/


#reparacion {display: none;
              height:100%;
              width: 100%;
              background-image: url(../img/construccion.jpg);
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }


 
.TW{
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition:all 0.6s;
    &:hover{
      color:#2ECCFA;
    }
  }



/* ::::::::::::::::::::::::; USO DE LAS MEDIA QUERIES :::::::::::::::::::::::*/

@media screen and (max-width: 300px) {

 #inicio, #quienesSomos,#portfolio,#tecnologias,#contacto,#fondo,footer,header{
  display: none;
 }

 html,body{
  min-width: 0px;
  width: 300px;
 }

 #reparacion {
  display: block;
 }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 
 #inicio, #quienesSomos,#portfolio,#tecnologias,#contacto,#fondo,footer,header{
  display: none;
 }

 html,body{
  min-width: 320px;
  max-width: 480px;
  width: 100%;
 }

 #reparacion {
  display: block;
 }
}
