@charset "CP850";
@font-face {
  font-family: "Bebas-Neue";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Bebas-Neue.eot");
  src: url("../font/Bebas-Neue.otf"), url("../font/Bebas-Neue.ttf"); }

@font-face {
  font-family: "Socialico";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Socialico.eot");
  src: url("../font/Socialico.otf"), url("../font/Socialico.ttf"); }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a:hover {
    color: inherit; }

.caligrafia {
  font-family: 'Calligraffitti',cursive; }

.comentarioContacto {
  float: left;
  width: 30%;
  height: 200px;
  font-family: 'Englebert', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-top: 10%;
  padding-left: 3%;
  text-shadow: 0px 0px 4px #FFF; }

.imgContacto {
  top: 48%;
  left: 9.5%;
  position: relative;
  float: right;
  width: 30%;
  height: 250px;
  background: url(../img/mensaje02.png) no-repeat;
  background-size: 65%;
  z-index: 100000000;
  transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  opacity: 0.59;
  overflow: visible; }

#contacto {
  position: relative;
  background-image: url(../img/fondo4.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #3686b1;
  /*Probando color degradiente*/
  background: #c5deea;
  background: -moz-linear-gradient(left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c5deea), color-stop(31%, #8abbd7), color-stop(100%, #066dab));
  background: -webkit-linear-gradient(left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: -o-linear-gradient(left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: -ms-linear-gradient(left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: linear-gradient(to right, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 );
  /*
    background: #d0e4f7;
    background: -moz-linear-gradient(45deg,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea));
    background: -webkit-linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    background: -o-linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    background: -ms-linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    background: linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 );
    */
  /* Suspendemos imagen por el momento */
  /*background-image: url(../img/fondo4.jpg);*/
  background-size: 100%;
  padding-top: 5%;
  text-align: center; }
  #contacto .triangulo {
    width: 0;
    height: 0;
    opacity: 0.7;
    border-top: 60px solid transparent;
    border-left: 130px solid #262626;
    border-bottom: 60px solid transparent; }
    #contacto .triangulo .palabraContacto {
      line-height: 4em;
      display: block;
      top: -2em;
      left: 1500px;
      position: relative; }
  #contacto .subContacto {
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    color: #FBFBF5;
    border-radius: 0 0.5em 0.5em 0;
    overflow: hidden;
    transition: all 1.5s; }
    #contacto .subContacto .carita {
      width: 100px;
      height: 100px;
      display: block;
      background: url(../img/mensaje03_editado.png);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      float: right;
      margin-right: 500px;
      -webkit-transform: rotate(-45deg);
      /*transition:all 1.5s ease;
      &:hover{
      -webkit-transform:rotate(0deg);
      };
      
      /*transform:rotate(0deg);
      -ms-transform:rotate(0deg);
      */ }
  #contacto #formulario {
    /* Se cambian valores para acomodar con más libertad
        top: -1%;
        margin-top: 5%;
        display: inline-block;
    */
    top: 330px;
    left: 550px;
    display: block;
    position: absolute;
    text-align: center;
    width: 550px;
    height: 460px; }

.comentarioContacto {
  float: left;
  width: 30%;
  height: 200px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-top: 10%;
  padding-left: 3%;
  text-shadow: 0px 0px 4px #FFF; }

.copyright {
  text-align: center;
  margin-top: -9px;
  font-family: 'Alegreya Sans', sans-serif; }

.enviarComentario {
  width: 250px; }

footer {
  font-family: 'Alegreya Sans', sans-serif;
  height: 185px;
  width: 100%;
  z-index: 10;
  position: absolute;
  background-image: url(../img/textura.jpg);
  background-color: #151515;
  overflow: hidden;
  color: #6E6E6E;
  text-align: center;
  border-radius: 0.45em 0.45em 0.33em 0.33em;
  font-size: 18px; }
  footer li {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-left: 15px; }
  footer nav ul li {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-left: 15px; }

.FB {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  line-height: 2px;
  transition: all 0.6s; }
  .FB:hover {
    color: #08298A; }

.formTA {
  width: 510px;
  height: 185px;
  margin-top: 15px;
  margin-bottom: 15px; }

.formInput {
  width: 250px;
  height: 35px;
  margin-top: 15px;
  margin-right: 5px; }

.fullScreen {
  width: 100%;
  height: 100%; }

.screen80 {
  width: 100%;
  height: 80%; }

.Gplus {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .Gplus:hover {
    color: #FE2E2E; }

header {
  display: block;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: steelblue;
  text-align: center;
  margin-bottom: 13em;
  border-radius: 0em 0em 2em 2em; }
  header nav ul {
    margin-top: 1em; }
    header nav ul li {
      color: #F7F7F7;
      padding: 0 10px;
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      border-radius: 10px;
      transition: all 0.2s linear; }
      header nav ul li:hover {
        color: #000;
        font-size: 2em;
        transition: all 0.2s linear; }

.IN {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .IN:hover {
    color: #0489B1; }

#inicio {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
  background-image: url(../img/fondo2.jpg);
  background-repeat: no-repeat; }
  #inicio #mensajePrincipal {
    font-family: 'Londrina Outline', cursive;
    line-height: 1.2em;
    color: white;
    font-size: 60px; }
    #inicio #mensajePrincipal .bottom {
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 20px; }
    #inicio #mensajePrincipal .titulo {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin-top: 400px;
      text-align: center;
      color: white;
      letter-spacing: 10px; }
    #inicio #mensajePrincipal #imagen {
      position: absolute;
      height: 500px;
      width: 700px;
      top: 25%;
      background-size: 170% auto;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 5;
      left: 20%;
      background-image: url(../img/nubeLogo.png);
      cursor: pointer;
      margin: 0;
      transition: all 1s ease; }
      #inicio #mensajePrincipal #imagen:hover {
        position: absolute;
        top: 190px;
        transition: all 1s ease; }
        #inicio #mensajePrincipal #imagen:hover .carita {
          margin-top: 100px; }
    #inicio #mensajePrincipal .top {
      position: absolute;
      left: 0;
      top: 0;
      margin: 20px; }

#inicio1 {
  position: relative;
  top: 0;
  margin: 0;
  z-index: -5;
  display: block; }

.logo {
  font-family: 'Seymour One', sans-serif;
  color: white;
  font-size: 50px;
  position: absolute;
  z-index: 5;
  padding: 50px;
  background-color: red;
  border-radius: 45%;
  text-align: center;
  margin: 0 auto;
  top: 10%;
  left: 10%;
  letter-spacing: -5px; }

.navegacionFooter {
  padding-top: 0px;
  margin-top: -6px;
  margin-left: -3em;
  /* ----------> Se sacan Hovers momentaneamente <---------
  nav{
    ul{
      li{
        transition:all 0.4s;
        &:hover{
          text-shadow:0px 0px 1.3px #F5F6CE;
          -webkit-transform:rotate(-9deg);
          transform:rotate(-9deg);
          -ms-transform:rotate(-9deg);
      }
    }
  }
}*/ }

#portfolio {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%; }
  #portfolio img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%; }

#quienesSomos {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%; }
  #quienesSomos img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%; }
  #quienesSomos h1 {
    text-shadow: 5px 5px 0px #000; }
  #quienesSomos div {
    position: absolute;
    color: black;
    top: 40%;
    left: 10%;
    width: 40%;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.7); }
  #quienesSomos p {
    position: relative;
    width: 80%;
    top: 40%;
    left: 10%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    text-align: justify; }

.socialFooter {
  display: inline-block;
  margin-top: -5px;
  padding-top: 0px;
  line-height: 4.1em; }

.sombreado {
  -webkit-box-shadow: 13px 17px 55px -3px rgba(0, 0, 0, 0.75); }

#tecnologias {
  background: #f5f6f6;
  background: -moz-linear-gradient(left, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5f6f6), color-stop(21%, #dbdce2), color-stop(49%, #b8bac6), color-stop(80%, #dddfe3), color-stop(100%, #f5f6f6));
  background: -webkit-linear-gradient(left, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  background: -o-linear-gradient(left, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  background: -ms-linear-gradient(left, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  background: linear-gradient(to right, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 );
  position: relative;
  display: block;
  text-align: center;
  padding-top: 10em; }
  #tecnologias div {
    text-align: center; }
    #tecnologias div h3 {
      text-align: center;
      font-family: 'Englebert', sans-serif;
      font-size: 36px; }
    #tecnologias div span {
      text-align: center;
      font-family: 'Englebert', sans-serif;
      font-size: 28px; }
    #tecnologias div ul li {
      font-size: 22px;
      text-align: center;
      list-style: none;
      font-family: 'Englebert', sans-serif; }

.TW {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .TW:hover {
    color: #2ECCFA; }
