@font-face {
  font-family: "Bebas-Neue";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Bebas-Neue.eot");
  src: url("../font/Bebas-Neue.otf"), url("../font/Bebas-Neue.ttf"); }

@font-face {
  font-family: "Socialico";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Socialico.eot");
  src: url("../font/Socialico.otf"), url("../font/Socialico.ttf"); }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a:hover {
    color: inherit; }

.caligrafia {
  font-family: 'Calligraffitti',cursive; }

.copyright {
  text-align: center;
  margin-top: -9px;
  font-family: 'Alegreya Sans', sans-serif; }

footer {
  font-family: 'Alegreya Sans', sans-serif;
  height: 185px;
  width: 98%;
  margin-left: 1%;
  z-index: -100000;
  position: absolute;
  background-color: #151515;
  color: #6E6E6E;
  text-align: center;
  border-radius: 0.33em;
  font-size: 18px; }
  footer li {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-left: 15px; }
  footer nav ul li {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-left: 15px; }

.FB {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  line-height: 2px;
  transition: all 0.6s; }
  .FB:hover {
    color: #08298A; }

.fullScreen {
  width: 100%;
  height: 100%; }

.Gplus {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .Gplus:hover {
    color: #FE2E2E; }

header {
  display: block;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #d7d7d7;
  text-align: center;
  margin-bottom: 13em;
  border-radius: 0em 0em 2em 2em; }
  header nav ul {
    margin-top: 1em; }
    header nav ul li {
      color: #F7F7F7;
      padding: 0 10px;
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      border-radius: 10px;
      transition: all 0.2s linear; }
      header nav ul li:hover {
        color: #000;
        font-size: 2em;
        background-color: rgba(195, 194, 245, 0.09);
        transition: all 0.2s linear; }

#logo {
  width: 200px;
  height: 200px;
  z-index: 100;
  position: absolute;
  display: inline;
  background-color: black;
  left: 0;
  border-radius: 300px; }
  #logo span {
    color: white;
    position: absolute;
    left: 100px;
    font: 20px 'VT323', MonoSpace;
    height: 50%;
    width: 20px;
    top: 0;
    -webkit-transform-origin: bottom center; }

.char1 {
  -webkit-transform: rotate(319.7deg); }

.char2 {
  -webkit-transform: rotate(324.4deg); }

.char3 {
  -webkit-transform: rotate(329.1deg); }

.char4 {
  -webkit-transform: rotate(333.8deg); }

.char5 {
  -webkit-transform: rotate(338.5deg); }

.char6 {
  -webkit-transform: rotate(343.2deg); }

.char7 {
  -webkit-transform: rotate(347.9deg); }

.char8 {
  -webkit-transform: rotate(352.6deg); }

.char9 {
  -webkit-transform: rotate(357.3deg); }

.char10 {
  -webkit-transform: rotate(362deg); }

.char11 {
  -webkit-transform: rotate(366.7deg); }

.char12 {
  -webkit-transform: rotate(371.4deg); }

.char13 {
  -webkit-transform: rotate(376.1deg); }

.char14 {
  -webkit-transform: rotate(380.8deg); }

.char15 {
  -webkit-transform: rotate(385.5deg); }

.char16 {
  -webkit-transform: rotate(390.2deg); }

.char17 {
  -webkit-transform: rotate(394.9deg); }

.char18 {
  -webkit-transform: rotate(399.6deg); }

.char19 {
  -webkit-transform: rotate(404.3deg); }

.IN {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .IN:hover {
    color: #0489B1; }

#inicio {
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat; }

.navegacionFooter {
  padding-top: 0px;
  margin-top: -6px;
  margin-left: -3em; }
  .navegacionFooter nav ul li {
    transition: all 0.4s; }
    .navegacionFooter nav ul li:hover {
      text-shadow: 0px 0px 1.3px #F5F6CE;
      -webkit-transform: rotate(-9deg);
      transform: rotate(-9deg);
      -ms-transform: rotate(-9deg); }

.socialFooter {
  display: inline-block;
  margin-top: -5px;
  padding-top: 0px;
  line-height: 4.1em; }

.sombreado {
  -webkit-box-shadow: 13px 17px 55px -3px rgba(0, 0, 0, 0.75); }

.TW {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .TW:hover {
    color: #2ECCFA; }
