@each $font-face in 'Bebas-Neue', 'Socialico'{
	@font-face{  font-family: $font-face;
				 font-style: normal;
				 font-weight: normal;
				 src:url('../font/#{$font-face}.eot');
				 src:url('../font/#{$font-face}.otf'),url('../font/#{$font-face}.ttf');}
				}

.caligrafia {
	font-family: 'Calligraffitti',cursive;
}

html,body{  
	 		
			height:100%;
			margin: 0;
			padding:0;
			max-width: 100%}
body{
  background-image: url(../img/fondo1.jpg);
}

a{    
    color: inherit;
    text-decoration: none;
    &:visited{
      color: inherit;}
    &:hover{
      color:inherit;
    }
}

header {
  width: 100%;
  position: fixed;
  top:0;
  z-index: 10;
  background-color: #d7d7d7; 
  text-align: center;
  margin-bottom: 13em;
  border-radius: 0em 0em 2em 2em;

   nav ul {
   			margin-top: 1em;
   			li{
   				color: #F7F7F7;
				padding: 0 10px;
				font-weight: bold;
				display: inline-block;
				cursor: pointer;
				border-radius: 10px;
				transition: all 0.2s linear;
	   			

      		&:hover{
      			color:#000;
      			font-size: 2em;
      			background-color: rgba(195,194,245,0.09);
      			transition: all 0.2s linear;		

   			}

  		}

   }
}

.sombreado {
  -webkit-box-shadow: 13px 17px 55px -3px rgba(0,0,0,0.75);
}
