@font-face {
  font-family: "Bebas-Neue";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Bebas-Neue.eot");
  src: url("../font/Bebas-Neue.otf"), url("../font/Bebas-Neue.ttf"); }

@font-face {
  font-family: "Socialico";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Socialico.eot");
  src: url("../font/Socialico.otf"), url("../font/Socialico.ttf"); }

.caligrafia {
  font-family: 'Calligraffitti',cursive; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%; }

body {
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a:hover {
    color: inherit; }

.fullScreen {
  width: 100%;
  height: 100%; }

footer {
  z-index: 10;
  width: 98%;
  margin-left: 1%; }
  footer nav ul li {
    text-align: center;
    list-style: none; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #d7d7d7;
  text-align: center;
  margin-bottom: 13em;
  border-radius: 0em 0em 2em 2em; }
  header nav ul {
    margin-top: 1em; }
    header nav ul li {
      color: #F7F7F7;
      padding: 0 10px;
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      border-radius: 10px;
      transition: all 0.2s linear; }
      header nav ul li:hover {
        color: #000;
        font-size: 2em;
        background-color: rgba(195, 194, 245, 0.09);
        transition: all 0.2s linear; }

.sombreado {
  -webkit-box-shadow: 13px 17px 55px -3px rgba(0, 0, 0, 0.75); }
