@charset "CP850";
@font-face {
  font-family: "Bebas-Neue";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Bebas-Neue.eot");
  src: url("../font/Bebas-Neue.otf"), url("../font/Bebas-Neue.ttf"); }

@font-face {
  font-family: "Socialico";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Socialico.eot");
  src: url("../font/Socialico.otf"), url("../font/Socialico.ttf"); }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a:hover {
    color: inherit; }

.caligrafia {
  font-family: 'Calligraffitti',cursive; }

.comentarioContacto {
  float: left;
  width: 30%;
  height: 200px;
  font-family: 'Englebert', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-top: 10%;
  padding-left: 3%;
  text-shadow: 0px 0px 4px #FFF; }

.imgContacto {
  /*LUQI FIJATE QUE ESTA IMAGEN SOBRE PASA EL ANCHO DE LA WEB Y QUEDA
    MAL*/
  top: 48%;
  left: 9.5%;
  position: relative;
  display: none;
  float: right;
  width: 30%;
  height: 250px;
  background: url(../img/mensaje02.png) no-repeat;
  background-size: 65%;
  z-index: 100000000;
  transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  opacity: 0.59;
  overflow: visible; }

#contacto {
  position: relative;
  top: -100px;
  background-image: url(../img/fondo4.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #3686b1;
  /*Probando color degradiente*/
  background: #c5deea;
  background: -moz-linear-gradient(left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c5deea), color-stop(31%, #8abbd7), color-stop(100%, #066dab));
  background: -webkit-linear-gradient(left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: -o-linear-gradient(left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: -ms-linear-gradient(left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: linear-gradient(to right, #c5deea 0%, #8abbd7 31%, #066dab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 );
  /*
    background: #d0e4f7;
    background: -moz-linear-gradient(45deg,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea));
    background: -webkit-linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    background: -o-linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    background: -ms-linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    background: linear-gradient(45deg,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 );
    */
  /* Suspendemos imagen por el momento */
  /*background-image: url(../img/fondo4.jpg);*/
  background-size: 100%;
  padding-top: 5%;
  text-align: center; }
  #contacto .triangulo {
    width: 0;
    height: 0;
    opacity: 0.7;
    border-top: 60px solid transparent;
    border-left: 130px solid #262626;
    border-bottom: 60px solid transparent; }
    #contacto .triangulo .palabraContacto {
      line-height: 4em;
      display: block;
      top: -2em;
      left: 1500px;
      position: relative; }
  #contacto .subContacto {
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    color: #FBFBF5;
    border-radius: 0 0.5em 0.5em 0;
    overflow: hidden;
    transition: all 1.5s; }
    #contacto .subContacto .carita {
      width: 100px;
      height: 100px;
      display: block;
      background: url(../img/mensaje03_editado.png);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      float: right;
      margin-right: 500px;
      -webkit-transform: rotate(-45deg);
      /*transition:all 1.5s ease;
      &:hover{
      -webkit-transform:rotate(0deg);
      };
      
      /*transform:rotate(0deg);
      -ms-transform:rotate(0deg);
      */ }
  #contacto #formulario {
    /* Se cambian valores para acomodar con más libertad
        top: -1%;
        margin-top: 5%;
        display: inline-block;
    */
    top: 330px;
    left: 550px;
    display: block;
    position: absolute;
    text-align: center;
    width: 550px;
    height: 460px; }

.caja {
  border-radius: 15px;
  height: 60px;
  width: 300px;
  outline: 0;
  border: 0; }

.comentarioContacto {
  float: left;
  width: 30%;
  height: 200px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-top: 10%;
  padding-left: 3%;
  text-shadow: 0px 0px 4px #FFF; }

#continuar-a-portfolio {
  position: absolute;
  left: 45%;
  bottom: 5%;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 20px;
  font-weight: bold;
  z-index: 5;
  transition: background-color 1s ease; }
  #continuar-a-portfolio:hover {
    transition: background-color 1s ease;
    background-color: rgba(255, 255, 255, 0); }

.copyright {
  text-align: center;
  margin-top: -9px;
  font-family: 'Alegreya Sans', sans-serif; }
  .copyright span {
    font-family: sans-serif; }

.enviarComentario {
  width: 250px; }

footer {
  font-family: 'Alegreya Sans', sans-serif;
  height: 185px;
  width: 100%;
  /* //width: 98%;
   //margin-left: 1%;*/
  z-index: 10;
  position: absolute;
  background-image: url(../img/textura.jpg);
  background-color: #151515;
  overflow: hidden;
  color: #6E6E6E;
  text-align: center;
  border-radius: 0.45em 0.45em 0.33em 0.33em;
  font-size: 18px; }
  footer li {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-left: 15px; }
  footer nav ul li {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-left: 15px; }

.FB {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  line-height: 2px;
  transition: all 0.6s; }
  .FB:hover {
    color: #08298A; }

.formTA {
  width: 510px;
  height: 185px;
  margin-top: 15px;
  margin-bottom: 15px; }

.formInput {
  margin-top: 15px;
  margin-right: 5px;
  border-radius: 15px;
  height: 35px;
  width: 230px;
  outline: 0;
  border: 6px solid rgba(0, 0, 0, 0.5); }

.fullScreen {
  width: 100%;
  height: 100%; }

.fullScreen90 {
  width: 100%;
  height: 90%; }

.fullScreen110 {
  width: 100%;
  height: 110%; }

.screen80 {
  width: 100%;
  height: 80%; }

.Gplus {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .Gplus:hover {
    color: #FE2E2E; }

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: steelblue;
  text-align: center;
  border-radius: 0em 0em 2em 2em; }
  header nav ul li {
    color: #F7F7F7;
    padding: 0 10px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s linear; }
    header nav ul li:hover {
      color: #000;
      font-size: 2em;
      transition: all 0.2s linear; }

.IN {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .IN:hover {
    color: #0489B1; }

#fondo {
  position: fixed;
  overflow: hidden;
  height: 101%;
  z-index: 0;
  background-image: url(../img/fondoBsAs.jpg);
  background-size: 100% 90%;
  background-repeat: no-repeat; }

#inicio {
  position: static;
  z-index: 1; }
  #inicio #cajaNegra {
    position: absolute;
    width: 379px;
    min-width: 100px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.59);
    height: 100%;
    transition: all 2s linear; }
    #inicio #cajaNegra #mensaje {
      height: 100%;
      position: absolute;
      width: 100%;
      min-width: 100px;
      margin-right: auto;
      margin-left: auto;
      left: 0;
      right: 0;
      text-align: center;
      font-family: 'Quantico', sans-serif;
      line-height: 1.2em;
      color: white;
      font-size: 24px;
      cursor: pointer; }
      #inicio #cajaNegra #mensaje #frase1 {
        margin-top: 60%;
        margin-bottom: 0;
        opacity: 0;
        transition: all 2s linear; }
      #inicio #cajaNegra #mensaje #frase2 {
        margin: 0;
        opacity: 0;
        transition: all 2s linear; }
      #inicio #cajaNegra #mensaje #frase3 {
        opacity: 0;
        transition: all 2s linear; }
      #inicio #cajaNegra #mensaje img {
        margin-bottom: 80px;
        margin-top: 80px;
        width: 70%;
        min-width: 100px;
        top: 30%;
        height: auto; }

.logo {
  font-family: 'Seymour One', sans-serif;
  color: white;
  font-size: 50px;
  position: absolute;
  z-index: 5;
  padding: 50px;
  background-color: red;
  border-radius: 45%;
  text-align: center;
  margin: 0 auto;
  top: 10%;
  left: 10%;
  letter-spacing: -5px; }

.navegacionFooter {
  padding-top: 0px;
  margin-top: -6px;
  margin-left: -3em; }
  .navegacionFooter nav ul li {
    transition: all 0.4s; }
    .navegacionFooter nav ul li:hover {
      text-shadow: 0px 0px 1.3px #F5F6CE;
      -webkit-transform: rotate(-9deg);
      transform: rotate(-9deg);
      -ms-transform: rotate(-9deg); }

#portfolio {
  position: relative;
  z-index: 1;
  background-color: #cb5211;
  /*Estilo de las imagenes */
  /*Reduccion de los elementos no hovereados*/
  /* Efectos hover */ }
  #portfolio #cajablanca {
    position: absolute;
    width: 95%;
    top: 10%;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.2); }
    #portfolio #cajablanca .flecha {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 70px solid #cb5211; }
    #portfolio #cajablanca h2 {
      color: white;
      font-family: 'Quantico', sans-serif;
      font-size: 50px; }
  #portfolio * {
    margin: 0;
    padding: 0; }
  #portfolio .acordeon {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 764px;
    height: 320px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35); }
  #portfolio .acordeon ul li {
    position: relative;
    display: block;
    width: 190px;
    float: left;
    /* atributos para mejorar el look*/
    border-left: 1px solid #888;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    /*Transiciones */
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }
    #portfolio .acordeon ul li a {
      width: 20px; }
      #portfolio .acordeon ul li a img {
        width: 640px;
        height: 320px;
        display: block; }
  #portfolio .tituloImagen {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 680px; }
  #portfolio .tituloImagen a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px; }
  #portfolio .acordeon ul:hover li {
    width: 40px; }
  #portfolio .acordeon ul li:hover {
    width: 640px; }

#quienesSomos {
  position: relative;
  z-index: 1;
  background-color: #20B2AA;
  width: 100%;
  border-top: 2px solid black; }
  #quienesSomos .slider_container {
    position: absolute;
    overflow: hidden;
    top: 500px;
    width: 100%;
    height: 120px;
    left: 0px;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 2px solid white;
    border-bottom: 2px solid white; }
    #quienesSomos .slider_container .slideContainer {
      white-space: nowrap;
      height: 100%; }
      #quienesSomos .slider_container .slideContainer .slide {
        height: 100%;
        display: inline-block;
        background-color: #9370DB;
        margin-right: -4px;
        vertical-align: top;
        background-size: 100%;
        background-position: bottom; }
        #quienesSomos .slider_container .slideContainer .slide p {
          position: static;
          color: white;
          font-family: 'Quantico',cursive;
          font-size: 20px;
          width: auto;
          font-size: 50px;
          height: 80%;
          margin: 20px;
          text-align: center; }
  #quienesSomos #boxContinuar {
    position: absolute;
    width: 100%;
    background-color: steelblue;
    top: 0;
    height: 10%;
    border-bottom: 3px solid white; }
    #quienesSomos #boxContinuar .continuar {
      position: absolute;
      left: 45%;
      top: 20%;
      left: 45%;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 10px 20px;
      border: 3px solid white;
      border-radius: 20px;
      font-weight: bold;
      color: white;
      transition: background-color 1s ease; }
      #quienesSomos #boxContinuar .continuar:hover {
        transition: background-color 1s ease;
        background-color: rgba(255, 255, 255, 0); }
  #quienesSomos #quienSomos {
    position: absolute;
    top: 8%;
    width: 100%;
    height: 150px; }
  #quienesSomos #presentacionAbajo {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
    width: 50%;
    margin-left: 7%;
    font-family: 'Quantico', sans-serif;
    font-size: 30px;
    color: white; }
  #quienesSomos #presentacion {
    height: 300px;
    width: 50%;
    margin-top: 13%;
    margin-bottom: 4%;
    margin-left: 7%;
    font-family: 'Quantico', sans-serif;
    font-size: 30px;
    color: white; }
    #quienesSomos #presentacion p {
      position: static; }
  #quienesSomos img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%; }
  #quienesSomos h1 {
    text-shadow: 5px 5px 0px #000; }
  #quienesSomos p {
    position: relative;
    width: 80%;
    left: 10%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    text-align: justify; }

.socialFooter {
  display: inline-block;
  margin-top: -5px;
  padding-top: 0px;
  line-height: 4.1em; }

.sombreado {
  -webkit-box-shadow: 13px 17px 55px -3px rgba(0, 0, 0, 0.75); }

#tecnologias {
  position: relative; }
  #tecnologias .tecnologias {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/tecno01.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center; }
    #tecnologias .tecnologias .cuadrado {
      opacity: 0.95;
      margin-top: 0.3em;
      margin-left: 0.7em;
      margin-right: 0.7em;
      position: relative;
      display: inline-block;
      width: 24%;
      height: 200px;
      background-color: black;
      overflow: hidden; }
      #tecnologias .tecnologias .cuadrado .texto {
        text-align: left;
        color: white;
        text-shadow: 0px 0px 1px #000;
        margin-top: 170px;
        background: #b5bdc8;
        background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5bdc8), color-stop(36%, #828c95), color-stop(100%, #28343b));
        background: -webkit-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
        background: -o-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
        background: -ms-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
        background: linear-gradient(to bottom, #b5bdc8 0%, #828c95 36%, #28343b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
        opacity: 0.5;
        height: 20px;
        font-size: 19px;
        font-family: 'Nova Square', cursive;
        padding-left: 1em; }
  #tecnologias .tecno {
    text-align: center;
    position: absolute;
    color: white;
    overflow: hidden;
    font-family: 'Nova Square', cursive;
    line-height: 100px; }
  #tecnologias .html5 {
    background: url(../img/html5.png) center no-repeat;
    background-size: 100%; }
  #tecnologias .css3 {
    background: url(../img/css3.png) center no-repeat;
    background-size: 100%; }
  #tecnologias .php {
    background: url(../img/php.png) center no-repeat;
    background-size: 100%; }
  #tecnologias .js {
    background: url(../img/javascript.png) center no-repeat;
    background-size: 100%; }
  #tecnologias .jquery {
    background: url(../img/jquery.png) center no-repeat;
    background-size: 100%; }
  #tecnologias .mysql {
    background: url(../img/Mysql.png) center no-repeat;
    background-size: 100%; }
  #tecnologias .net {
    background: url(../img/visualstudio.png) center no-repeat;
    background-size: 100%; }
  #tecnologias .java {
    background: url(../img/java.png) center no-repeat;
    background-size: 100%; }

.TW {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .TW:hover {
    color: #2ECCFA; }

/* ::::::::::::::::::::::::; USO DE LAS MEDIA QUERIES :::::::::::::::::::::::*/
@media screen and (max-width: 300px) {
  header {
    font-size: 12px; }

  header nav ul li {
    display: block; }

  header nav ul li:hover {
    font-size: 14px; }

  header nav ul li:nth-child(2),
  header nav ul li:nth-child(3),
  header nav ul li:nth-child(4) {
    display: none; }

  #inicio #cajaNegra #mensaje {
    font-size: 10px;
    top: 100px; }

  .fullScreen {
    height: 100%; }

  .fullScreen110 {
    height: 100%; }

  .fullScreen90 {
    height: 100%; }

  #quienesSomos {
    display: none; }

  #portfolio {
    display: none; }

  #tecnologias {
    display: none; }

  #contacto {
    position: absolute;
    margin: 0; }

  footer {
    position: fixed;
    bottom: 0;
    height: 180px;
    font-size: 12px; }

  #inicio #cajaNegra #mensaje img {
    margin-top: 20px;
    margin-bottom: 20px; }

  .comentarioContacto {
    font-size: 15px;
    height: 50px;
    width: 300px;
    padding: 0;
    text-align: left; }

  .FB, .TW, .Gplus, .IN {
    font-size: 50px; } }
