@font-face {
  font-family: "Bebas-Neue";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Bebas-Neue.eot");
  src: url("../font/Bebas-Neue.otf"), url("../font/Bebas-Neue.ttf"); }

@font-face {
  font-family: "Socialico";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Socialico.eot");
  src: url("../font/Socialico.otf"), url("../font/Socialico.ttf"); }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%; }

body {
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-color: #FFCE6B; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a:hover {
    color: inherit; }

.caligrafia {
  font-family: 'Calligraffitti',cursive; }

#contacto {
  padding-top: 5%;
  text-align: center; }
  #contacto #formulario {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 350px;
    height: 460px; }

.copyright {
  text-align: center;
  margin-top: -9px;
  font-family: 'Alegreya Sans', sans-serif; }

.enviarComentario {
  width: 250px; }

footer {
  /* margin-top -> para que el boton Enviar Comentario se separe un poco de footer*/
  margin-top: 0.3%;
  font-family: 'Alegreya Sans', sans-serif;
  height: 185px;
  width: 98%;
  margin-left: 1%;
  z-index: -100000;
  position: absolute;
  background-color: #151515;
  color: #6E6E6E;
  text-align: center;
  border-radius: 0.33em;
  font-size: 18px; }
  footer li {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-left: 15px; }
  footer nav ul li {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding-left: 15px; }

.FB {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  line-height: 2px;
  transition: all 0.6s; }
  .FB:hover {
    color: #08298A; }

.formTA {
  width: 100%;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 15px; }

.formInput {
  width: 100%;
  height: 35px;
  margin-top: 15px; }

.fullScreen {
  width: 100%;
  height: 100%; }

.screen80 {
  width: 100%;
  height: 80%; }

.Gplus {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .Gplus:hover {
    color: #FE2E2E; }

header {
  display: block;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #d7d7d7;
  text-align: center;
  margin-bottom: 13em;
  border-radius: 0em 0em 2em 2em; }
  header nav ul {
    margin-top: 1em; }
    header nav ul li {
      color: #F7F7F7;
      padding: 0 10px;
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      border-radius: 10px;
      transition: all 0.2s linear; }
      header nav ul li:hover {
        color: #000;
        font-size: 2em;
        background-color: rgba(195, 194, 245, 0.09);
        transition: all 0.2s linear; }

.IN {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .IN:hover {
    color: #0489B1; }

#inicio {
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat; }

.navegacionFooter {
  padding-top: 0px;
  margin-top: -6px;
  margin-left: -3em; }
  .navegacionFooter nav ul li {
    transition: all 0.4s; }
    .navegacionFooter nav ul li:hover {
      text-shadow: 0px 0px 1.3px #F5F6CE;
      -webkit-transform: rotate(-9deg);
      transform: rotate(-9deg);
      -ms-transform: rotate(-9deg); }

.socialFooter {
  display: inline-block;
  margin-top: -5px;
  padding-top: 0px;
  line-height: 4.1em; }

.sombreado {
  -webkit-box-shadow: 13px 17px 55px -3px rgba(0, 0, 0, 0.75); }

.TW {
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition: all 0.6s; }
  .TW:hover {
    color: #2ECCFA; }
