@each $font-face in 'Bebas-Neue', 'Socialico'{
	@font-face {  font-family: $font-face;
				 font-style: normal;
				 font-weight: normal;
				 src:url('../font/#{$font-face}.eot');
				 src:url('../font/#{$font-face}.otf'),url('../font/#{$font-face}.ttf');}
				}


html,body{  
	 		
			height:100%;
			margin: 0;
			padding:0;
			max-width: 100%}

a{  color: inherit;
    text-decoration: none;
    &:visited{
      color: inherit;}
    &:hover{
      color:inherit;
    }
}
.caligrafia {
  font-family: 'Calligraffitti',cursive;
}
#contacto{
  padding-top: 5%;
  text-align: center;
    #formulario{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 350px;
    height: 460px;
    }
}
.copyright{
text-align: center;
margin-top: -9px;
font-family: 'Alegreya Sans', sans-serif;
}

.enviarComentario{
  width: 250px;
}

footer{
  /* margin-top -> para que el boton Enviar Comentario se separe un poco de footer*/
  margin-top: 0.3%;
  font-family: 'Alegreya Sans', sans-serif;
  height: 185px;
  width: 98%;
  margin-left: 1%;
  z-index: 10;
  position: absolute;
  background-color: #151515;
  color:#6E6E6E;
  text-align: center;
  border-radius: 0.33em;
  font-size: 18px;
 
    li{  display: inline-block;
        text-align: center;
        list-style: none;
        padding-left: 15px;
    }

  nav{
    ul{
      li{  display: inline-block;
        text-align: center;
        list-style: none;
        padding-left: 15px;
      }
    }
  }
}
.FB{
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  line-height: 2px;
  transition:all 0.6s;
    &:hover{
      color:#08298A;
    }
   } 
.formTA{
  width: 100%;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.formInput{

    width: 100%;
    height: 35px;
    margin-top: 15px;
}
.fullScreen{
  width: 100%;
  height: 100%;

}
.screen80{
  width: 100%;
  height: 80%;
}
.Gplus{
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition:all 0.6s;
    &:hover{
      color:#FE2E2E;
    }
  }
header {
  display: block;
  margin: 0;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 10;
  background-color: #d7d7d7; 
  text-align: center;
  margin-bottom: 13em;
  border-radius: 0em 0em 2em 2em;

   nav ul {
   			margin-top: 1em;
   			li{
   				color: #F7F7F7;
				padding: 0 10px;
				font-weight: bold;
				display: inline-block;
				cursor: pointer;
				border-radius: 10px;
				transition: all 0.2s linear;

      		&:hover{
      			color:#000;
      			font-size: 2em;
      			background-color: rgba(195,194,245,0.09);
      			transition: all 0.2s linear;		

   			}

  		}

   }
}
.IN{
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition:all 0.6s;
    &:hover{
      color:#0489B1;
    }
}

#inicio{
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -5;
  background-image: url(../img/fondo2.jpg);
  background-repeat: no-repeat;

  #mensajePrincipal{
        
         font-family: 'Londrina Outline', cursive;
         line-height:1.2em;
         color: white;
         font-size: 60px;


         .bottom{ display: inline-block;
                  position: absolute;
                  right:0;
                  bottom: 0;
                  margin:20px;
                  }


           .titulo{position: absolute;
                  top:0;
                  bottom: 0;
                  right: 0;
                  left: 0;
                  margin-top: 400px;
                  text-align: center;
                  color: white;
                  letter-spacing: 10px;
                   }

              #imagen{ position: absolute;
                      height: 500px;
                      width: 700px;
                      top:25%;
                      background-size: 170% auto;
                      background-position: center;
                      background-repeat: no-repeat;
                      z-index: 5;
                      left: 20%;
                      background-image: url(../img/nube.png);
                      cursor: pointer;
                      margin:0;
                      transition: all 1s ease;
                    &:hover{
                      position:absolute;
                        top:190px;
                        transition: all 1s ease;
                            }
                    
              }
               .top{  
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 20px;  

              
          }
    }
           
     
}

#inicio1{
  position: absolute;
  top:0;
  margin: 0;

}
.navegacionFooter{
    padding-top: 0px;
  margin-top: -6px;
  margin-left: -3em;
  nav{
    ul{
      li{
        transition:all 0.4s;
        &:hover{
          text-shadow:0px 0px 1.3px #F5F6CE;
          -webkit-transform:rotate(-9deg);
          transform:rotate(-9deg);
          -ms-transform:rotate(-9deg);
      }
    }
  }
}
}

#quienesSomos{
  position: relative;
  background-image:url(../img/fondo4.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:1;
  margin-top: 100%;
  
  -webkit-filter: grayscale(1) blur(5px); 
    
   
    &:hover{
     
      -webkit-filter: grayscale(0.2) blur(0px); 
}
}

.socialFooter{
 display: inline-block;
  margin-top: -5px;
  padding-top: 0px;
  line-height: 4.1em;
}
.sombreado {
  -webkit-box-shadow: 13px 17px 55px -3px rgba(0,0,0,0.75);
}


.TW{
  font-family: 'Socialico';
  font-size: 5em;
  cursor: pointer;
  transition:all 0.6s;
    &:hover{
      color:#2ECCFA;
    }
  }


.logo {   font-family: 'Seymour One', sans-serif;
          color: white;
          font-size: 50px;
          position:absolute;
          z-index: 5;
          padding: 50px;
          background-color: red;
          border-radius: 45%;
          text-align: center;
          margin: 0 auto;
          top:20%;
          left: 20%;



}

